
#display {
    gap: 5px;
    align-items: start;

    & > div {
        gap: 5px;
    }
}

main {
    justify-content: center;
    gap: 10%;
}

@media (max-width: 600px) {
    main {
        flex-direction: column;
    }

    #display {
        transform: scale(70%);
    }

    matrix {
        transform: scale(70%);
    }
}
